body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.logo-image {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: #ffcc00;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #fff;
}

.about-me, .skills {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.gallery img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #ffcc00;
}
